body{
  background-color: black;
  transition: background-color 0.25s;
}
body:hover{
  background-color: white;
}
.solar{
  border-radius: 200px;
  
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: color 0.25s, font-size 0.25s;
}
.solar-text{
  color: white;
  font-size: 30px;
  transition: color 0.25s, font-size 0.25s;
}
.solar-text:hover{
  color: black;
  font-size: 50px;
}