.p1 {
  text-align: center;
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  font-size: 1,2rem; /* zwieksza o 20 proc tekst normalny czyli z 20 px robi 24px root a em do obiektu nadrzednego */
  line-height: 1.5; /* bez jednostki mówi nam o wyskości tekstu */ 
  text-indent: 3em; /* wciecie przed paragrafem  em 3krotnosc wysokosci tekstu */
  letter-spacing: .08em;
  word-spacing: .1em;
  color: rgb(0, 255, 72);
  /* rodzaje tekstu = szeryfowy(maja zdobienia(serif) na koncu liter)  bezszeryfowy(sans-serif(Nie ma zdobien na zakonczeniu liter)) monospace(kazdy znak ma ta sama szerokosc) */
  text-transform: capitalize;
}
body{
  background-color: gray;
}

.ul_main{
  font-weight: bold;
  list-style-type: upper-roman; /*można definiować własne */
  font-size: 40px;
  margin-left: 30px;
}

table{
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px 10px 10px 10px;
}
td{
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
}